# URL de base de l'application (utilisée par NextAuth)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me

# Fournisseur Keycloak
KEYCLOAK_ISSUER=http://localhost:8080/realms/safliix-realm
KEYCLOAK_CLIENT_ID=safliix-admin
KEYCLOAK_CLIENT_SECRET=4oX8swgdGlpPQeIegBQuQfXm16sHNXCC

# API backend
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=/api/proxy
# Server-side proxy target
NEST_API_URL=http://localhost:3001/api

# Database (Prisma)
DATABASE_URL="file:./dev.db"
